body{
border: solid 5px black;
font-family: "Krona One", sans-serif;
height: 100%;

}

.slider {
  width: 500px;
  height: 300px;
  position: relative;
  overflow: hidden;
  margin-left: 35%;
  color: aliceblue;
  margin-right: 400px;
  border:  solid 2px white;
}

.slider-img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.slider-img.active {
  opacity: 1;
}

.slider img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.slider .prev {
 right: 10px;
}

.slider .next {
  left: 10px;
}
  header{
  width: 100%;
  height: 35%;
  background-color: black;
    border: solid 2px white;
  display: flex;
  color: aliceblue;
}
.come{
  text-decoration: none;
font-family: "Krona One", sans-serif;
padding-bottom: 20px;
padding-left: 30px;

  
}
a{
text-decoration: none;
padding-left: 750px;
padding-top: 100px;
color: white;
font-size: 25px;
}
.cyber{
margin-left: 41%;
}
main{
  background-color: #D69B1A;
  border: solid 2px white;
  height: 70%;

  
}
.footer-img{
  width: 15%;
  height: 5%;
  
}
footer{

  background-color: black;
  border: solid 2px white;
}
.imgg{
  margin-left: 75px;
  width: 155px;
  height: 250px;
}
.gol{
margin-left: 240px;
 color: azure;




}
.gols{
margin-left: 250px;
border: solid black 1 px;
border-radius: 3px;
font-family: "Krona One", sans-serif;
background-color: black;
color: aliceblue;



}
.go{
margin-left: 250px;
border: solid black 1 px;
border-radius: 3px;
font-family: "Krona One", sans-serif;
background-color: black;
color: aliceblue;
margin-top: 7px;
}
main{
  background-color:black ;
}
.sl {
  width: 250px;
  height: 490px;
  position: relative;
  overflow: hidden;
  border: solid 2px white;

 
}
.opo{
  width: 150px;
  height: 150x;

  margin-left: 60px;
 
}
.ee{
  color: azure;
  margin-left: 50px;
}
.ho{
  margin-left: 50px;
color: aliceblue;
}
.bo{
color: aliceblue;
border: solid black 1 px;
border-radius: 3px;
font-family: "Krona One", sans-serif;
background-color: black;
margin-left: 50px;
  
}
.h{
text-align: left;
color: aliceblue;
}
.b{
color: aliceblue;
border: solid black 1 px;
border-radius: 3px;
font-family: "Krona One", sans-serif;
background-color: black;
  
}
.s {
  width: 250px;
  height: 350px;
  position: relative;
  overflow: hidden;
  border: solid 2px white;
 
}
.AirPods{
  border:  solid 1px wheat;
}
.hme{
  width: 100%;
}
.op{
  width: 150px;
  height: 150x;

  margin-left: 50px;
 
}
.mo{
  width: 250px;
  height: 350px;
  position: relative;
  overflow: hidden;
  border: solid 2px white;
}
.kol{
  width: 100px;
  height: 100px;
}